body{
  background-color:rgb(185, 252, 211); 
}

img {
  width: 300px;
  height: 150px;
}

.center {
  text-align: center;
  font-family: cursive;
}

h1 {
  color: blueviolet;
}

h2 {
  color: brown;
}
.mayan{
  color:yellow;
  font-family: cursive;
  font-size: 10px;
}

.box1{
  width: 200px;
  height: 700px;
  float: left;
  background-color: rgb(215, 217, 245);
  margin: 17px;
  border: 17px;
  padding: 17px;
  content: 40px;
  text-align: center;
}

.listbox{
  width: 200px;
  height: 700px;
  float: right;
  background-color: rgb(241, 243, 151);
  margin: 17px;
  border: 17px;
  padding: 17px;
  content: 40px;
  text-align: justify;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.flash {
  animation-name: flash;
   animation-duration: 0.2s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   animation-play-state: running;
}


 